@import "../../variables.scss";

.facebook {
  width: 2.4rem;
  height: 2.4rem;
  transition: 0.2s all;
  fill: $white;
  margin-right: 4rem;
  &:hover {
    fill: $facebook;
    transform: scale(1.05);
  }
}

.twitter {
  width: 2.4rem;
  height: 2rem;
  fill: $white;
  transition: 0.2s all;

  &:hover {
    fill: $twitter;
    transform: scale(1.05);
  }
}

.social {
  &__list {
    display: flex;
    align-items: center;
  }
}
