$heading-giant: 4.8rem;
$heading-big: 3.2rem;
$font-par: 1.8rem;
$heading-medium: 2rem;
$heading-medium2: 1.6rem;
$heading-small: 1.3rem;
$purple-blue: #5267df;
$light-red: #fa5959;
$dark-black: #242a45;
$gray: #9194a2;
$white: #fff;
$black: #000;
$light-gray: #f7f7f7;
$button-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
$card-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
$lime: #74dbb0;
$facebook: #4267b2;
$twitter: #1da1f2;
